uniLoader
*.o
main/*.o
arch/*/linker.lds
board/*/*.o*
board/*.a*
soc/*/*.o*
soc/*.a*
lib/*/*.o*
lib/*.a*
.config*
*.cmd
*/*.cmd
include/config/auto.conf
include/generated/autoconf.h
include/config
boot.img
blob/Image
blob/dtb
drivers/*.a
blob/ramdisk
