menu "Device Support"
	config APPLE_N61AP
		bool "Support for Apple iPhone 6"
		default n
		depends on APPLE_T7000
		help
		  Say Y if you want to include support for iPhone 6

	config SAMSUNG_C1S
		bool "Support for Samsung Galaxy Note20"
		default n
		depends on EXYNOS_990
		help
		  Say Y if you want to include support for Samsung Galaxy Note20

	config SAMSUNG_NOBLELTE
		bool "Support for Samsung Galaxy Note5"
		default n
		depends on EXYNOS_7420
		help
		  Say Y if you want to include support for Samsung Galaxy Note5

	config SAMSUNG_JACKPOTLTE
		bool "Support for Samsung Galaxy A8 (2018)"
		default n
		depends on EXYNOS_7885
		help
		  Say Y if you want to include support for Samsung Galaxy A8 (2018)

	config SAMSUNG_ZEROFLTE
		bool "Support for Samsung Galaxy S6"
		default n
		depends on EXYNOS_7420
		help
		  Say Y if you want to include support for Samsung Galaxy S6

	config SAMSUNG_DREAMLTE
		bool "Support for Samsung Galaxy S8"
		default n
		depends on EXYNOS_8895
		help
		  Say Y if you want to include support for Samsung Galaxy S8

	config SAMSUNG_STARLTE
		bool "Support for Samsung Galaxy S9"
		default n
		depends on EXYNOS_9810
		help
		  Say Y if you want to include support for Samsung Galaxy S9
		  
	config SAMSUNG_X1S
		bool "Support for Samsung Galaxy S20"
		default n
		depends on EXYNOS_990
		help
		  Say Y if you want to include support for Samsung Galaxy S20

	config SAMSUNG_J4LTE
		bool "Support for Samsung Galaxy J4 2018"
		default n
		depends on EXYNOS_7570
		help
		  Say Y if you want to include arm64 support for Samsung Galaxy J4 2018

	config SAMSUNG_J5LTE
		bool "Support for Samsung Galaxy J5 2015"
		default n
		depends on QC32_8916
		help
		  Say Y if you want to include arm32 support for Samsung Galaxy J5 2015

	config SAMSUNG_GTA4XL
		bool "Support for Samsung Galaxy Tab S6 Lite"
		default n
		depends on EXYNOS_9610
		help
		  Say Y if you want to include support for Samsung Galaxy Tab S6 Lite

	config SAMSUNG_R8S
                bool "Support for Samsung Galaxy S20 FE"
                default n
                depends on EXYNOS_990
                help
                  Say Y if you want to include support for Samsung Galaxy S20 FE
endmenu

menu "Device Specific Addresses"

	config TEXT_BASE
		hex "UniLoader Text Base"
		default 0x0

	config PAYLOAD_ENTRY
		hex "Payload Entry Address"
		default 0x830000000 if APPLE_N61AP
		default 0x090000000 if SAMSUNG_C1S
		default 0x050000000 if SAMSUNG_NOBLELTE
		default 0x090000000 if SAMSUNG_JACKPOTLTE
		default 0x090000000 if SAMSUNG_ZEROFLTE
		default 0x090000000 if SAMSUNG_DREAMLTE
		default 0x090000000 if SAMSUNG_STARLTE
		default 0x090000000 if SAMSUNG_X1S
		default 0x050000000 if SAMSUNG_J4LTE
		default 0x090000000 if SAMSUNG_J5LTE
		default 0x090000000 if SAMSUNG_GTA4XL
		default 0x090000000 if SAMSUNG_R8S

	config RAMDISK_ENTRY
		hex "Ramdisk Entry Address"
		default 0x082000000 if SAMSUNG_DREAMLTE
		default 0x084000000 if SAMSUNG_C1S
		default 0x084000000 if SAMSUNG_X1S
		default 0x084000000 if SAMSUNG_R8S
		default 0x084000000 if SAMSUNG_GTA4XL

	config FRAMEBUFFER_BASE
		hex "Framebuffer Base Address (for SimpleFB)"
		depends on SIMPLE_FB
		default 0x83e900000 if APPLE_N61AP
		default 0x0f1000000 if SAMSUNG_C1S
		default 0x0e2a00000 if SAMSUNG_NOBLELTE
		default 0x0ec000000 if SAMSUNG_JACKPOTLTE
		default 0x0e2a00000 if SAMSUNG_ZEROFLTE
		default 0x0cc000000 if SAMSUNG_DREAMLTE
		default 0x0cc000000 if SAMSUNG_STARLTE
		default 0x0f1000000 if SAMSUNG_X1S
		default 0x067000000 if SAMSUNG_J4LTE
		default 0x08e000000 if SAMSUNG_J5LTE
		default 0x0ca000000 if SAMSUNG_GTA4XL
		default 0x0f1000000 if SAMSUNG_R8S

	config FRAMEBUFFER_WIDTH
		int "Framebuffer Width (for SimpleFB)"
		depends on SIMPLE_FB
		default 752 if APPLE_N61AP
		default 1080 if SAMSUNG_C1S		
		default 1440 if SAMSUNG_NOBLELTE
		default 1080 if SAMSUNG_JACKPOTLTE
		default 1440 if SAMSUNG_ZEROFLTE
		default 1440 if SAMSUNG_DREAMLTE
		default 1440 if SAMSUNG_STARLTE
		default 1440 if SAMSUNG_X1S
		default 720 if SAMSUNG_J4LTE
		default 720 if SAMSUNG_J5LTE
		default 1200 if SAMSUNG_GTA4XL
		default 1080 if SAMSUNG_R8S

	config FRAMEBUFFER_HEIGHT
		int "Framebuffer Height (for SimpleFB)"
		depends on SIMPLE_FB
		default 1334 if APPLE_N61AP
		default 2400 if SAMSUNG_C1S
		default 2560 if SAMSUNG_NOBLELTE
		default 2220 if SAMSUNG_JACKPOTLTE
		default 2560 if SAMSUNG_ZEROFLTE
		default 2960 if SAMSUNG_DREAMLTE
		default 2960 if SAMSUNG_STARLTE
		default 3200 if SAMSUNG_X1S
		default 1280 if SAMSUNG_J4LTE
		default 1280 if SAMSUNG_J5LTE
		default 2000 if SAMSUNG_GTA4XL
		default 2400 if SAMSUNG_R8S

	config FRAMEBUFFER_STRIDE
		int "Framebuffer Stride (for SimpleFB)"
		depends on SIMPLE_FB
		default 4 if APPLE_N61AP
		default 4 if SAMSUNG_C1S
		default 4 if SAMSUNG_NOBLELTE
		default 4 if SAMSUNG_JACKPOTLTE
		default 4 if SAMSUNG_ZEROFLTE
		default 4 if SAMSUNG_DREAMLTE
		default 4 if SAMSUNG_STARLTE
		default 4 if SAMSUNG_X1S
		default 4 if SAMSUNG_J4LTE
		default 3 if SAMSUNG_J5LTE
		default 4 if SAMSUNG_GTA4XL
		default 4 if SAMSUNG_R8S

	config FRAMEBUFFER_BGRA
		bool "Framebuffer BGRA (for SimpleFB)"
		depends on SIMPLE_FB
		default y if SAMSUNG_J4LTE
		default n

endmenu
