menu "Device Support"

	config APPLE_N61AP
		bool "Support for Apple iPhone 6"
		default n
		depends on APPLE_T7000
		help
		  Say Y if you want to include support for iPhone 6
	
	config SAMSUNG_A10
		bool "Support for Samsung Galaxy A10"
		default n
		depends on EXYNOS_7885
		help
		  Say Y if you want to include support for Samsung Galaxy A10

	config SAMSUNG_JACKPOTLTE
		bool "Support for Samsung Galaxy A8 (2018)"
		default n
		depends on EXYNOS_7885
		help
		  Say Y if you want to include support for Samsung Galaxy A8 (2018)

	config SAMSUNG_DREAMLTE
		bool "Support for Samsung Galaxy S8"
		default n
		depends on EXYNOS_8895
		help
		  Say Y if you want to include support for Samsung Galaxy S8

	config SAMSUNG_STARLTE
		bool "Support for Samsung Galaxy S9"
		default n
		depends on EXYNOS_9810
		help
		  Say Y if you want to include support for Samsung Galaxy S9
	
        config SAMSUNG_D2S
                bool "Support for Samsung Galaxy Note 10+"
                default n
                depends on EXYNOS_9825
                help
                  Say Y if you want to include support for Samsung Galaxy Note 10+

endmenu

menu "Device Specific Addresses"

	config PAYLOAD_ENTRY
		hex "Payload Entry Address"
		default 0x830000000 if APPLE_N61AP
		default 0x090000000 if SAMSUNG_A10
		default 0x090000000 if SAMSUNG_JACKPOTLTE
		default 0x090000000 if SAMSUNG_DREAMLTE
		default 0x090000000 if SAMSUNG_STARLTE
		default 0x090000000 if SAMSUNG_D2S
	config FRAMEBUFFER_BASE
		hex "Framebuffer Base Address (for SimpleFB)"
		depends on SIMPLE_FB
		default 0x83e900000 if APPLE_N61AP
		default 0x0ec000000 if SAMSUNG_A10
		default 0x0ec000000 if SAMSUNG_JACKPOTLTE
		default 0x0cc000000 if SAMSUNG_DREAMLTE
		default 0x0cc000000 if SAMSUNG_STARLTE
		default 0x0ca000000 if SAMSUNG_D2S
	
	config FRAMEBUFFER_WIDTH
		int "Framebuffer Width (for SimpleFB)"
		depends on SIMPLE_FB
		default 752 if APPLE_N61AP
		default 720 if SAMSUNG_A10
		default 1080 if SAMSUNG_JACKPOTLTE
		default 1440 if SAMSUNG_DREAMLTE
		default 1440 if SAMSUNG_STARLTE
		defauld 1440 if SAMSUNG_D2S
	
	config FRAMEBUFFER_HEIGHT
		int "Framebuffer Height (for SimpleFB)"
		depends on SIMPLE_FB
		default 1334 if APPLE_N61AP
		default 1520 if SAMSUNG_A10
		default 2220 if SAMSUNG_JACKPOTLTE
		default 2960 if SAMSUNG_DREAMLTE
		default 2960 if SAMSUNG_STARLTE
		default 3040 if SAMSUNG_D2S
	
	config FRAMEBUFFER_STRIDE
		int "Framebuffer Stride (for SimpleFB)"
		depends on SIMPLE_FB
		default 4 if APPLE_N61AP
		default 4 if SAMSUNG_A10
		default 4 if SAMSUNG_JACKPOTLTE
		default 4 if SAMSUNG_DREAMLTE
		default 4 if SAMSUNG_STARLTE
		default 4 if SAMSUNG_D2S
endmenu
