menu "Device Support"

	config APPLE_N61AP
		bool "Support for Apple iPhone 6"
		default n
		depends on APPLE_T7000
		help
		  Say Y if you want to include support for iPhone 6

	config SAMSUNG_NOBLELTE
		bool "Support for Samsung Galaxy Note5"
		default n
		depends on EXYNOS_7420
		help
		  Say Y if you want to include support for Samsung Galaxy Note5

	config SAMSUNG_JACKPOTLTE
		bool "Support for Samsung Galaxy A8 (2018)"
		default n
		depends on EXYNOS_7885
		help
		  Say Y if you want to include support for Samsung Galaxy A8 (2018)

	config SAMSUNG_ZEROFLTE
		bool "Support for Samsung Galaxy S6"
		default n
		depends on EXYNOS_7420
		help
		  Say Y if you want to include support for Samsung Galaxy S6

	config SAMSUNG_DREAMLTE
		bool "Support for Samsung Galaxy S8"
		default n
		depends on EXYNOS_8895
		help
		  Say Y if you want to include support for Samsung Galaxy S8

	config SAMSUNG_STARLTE
		bool "Support for Samsung Galaxy S9"
		default n
		depends on EXYNOS_9810
		help
		  Say Y if you want to include support for Samsung Galaxy S9
		  
	config SAMSUNG_X1S
		bool "Support for Samsung Galaxy S20"
		default n
		depends on EXYNOS_990
		help
		  Say Y if you want to include support for Samsung Galaxy S20

	config SAMSUNG_J5LTE
		bool "Support for Samsung Galaxy J5 2015"
		default n
		depends on QC32_8916
		help
		  Say Y if you want to include arm32 support for Samsung Galaxy J5 2015
endmenu

menu "Device Specific Addresses"

	config PAYLOAD_ENTRY
		hex "Payload Entry Address"
		default 0x830000000 if APPLE_N61AP
		default 0x050000000 if SAMSUNG_NOBLELTE
		default 0x090000000 if SAMSUNG_JACKPOTLTE
		default 0x090000000 if SAMSUNG_ZEROFLTE
		default 0x090000000 if SAMSUNG_DREAMLTE
		default 0x090000000 if SAMSUNG_STARLTE
		default 0x090000000 if SAMSUNG_X1S
		default 0x090000000 if SAMSUNG_J5LTE


	config FRAMEBUFFER_BASE
		hex "Framebuffer Base Address (for SimpleFB)"
		depends on SIMPLE_FB
		default 0x83e900000 if APPLE_N61AP
		default 0x0e2a00000 if SAMSUNG_NOBLELTE
		default 0x0ec000000 if SAMSUNG_JACKPOTLTE
		default 0x0e2a00000 if SAMSUNG_ZEROFLTE
		default 0x0cc000000 if SAMSUNG_DREAMLTE
		default 0x0cc000000 if SAMSUNG_STARLTE
		default 0x0F1000000 if SAMSUNG_X1S
		default 0x08e000000 if SAMSUNG_J5LTE

	config FRAMEBUFFER_WIDTH
		int "Framebuffer Width (for SimpleFB)"
		depends on SIMPLE_FB
		default 752 if APPLE_N61AP
		default 1440 if SAMSUNG_NOBLELTE
		default 1080 if SAMSUNG_JACKPOTLTE
		default 1440 if SAMSUNG_ZEROFLTE
		default 1440 if SAMSUNG_DREAMLTE
		default 1440 if SAMSUNG_STARLTE
		default 1440 if SAMSUNG_X1S
		default 720 if SAMSUNG_J5LTE

	config FRAMEBUFFER_HEIGHT
		int "Framebuffer Height (for SimpleFB)"
		depends on SIMPLE_FB
		default 1334 if APPLE_N61AP
		default 2560 if SAMSUNG_NOBLELTE
		default 2220 if SAMSUNG_JACKPOTLTE
		default 2560 if SAMSUNG_ZEROFLTE
		default 2960 if SAMSUNG_DREAMLTE
		default 2960 if SAMSUNG_STARLTE
		default 3200 if SAMSUNG_X1S
		default 1280 if SAMSUNG_J5LTE

	config FRAMEBUFFER_STRIDE
		int "Framebuffer Stride (for SimpleFB)"
		depends on SIMPLE_FB
		default 4 if APPLE_N61AP
		default 4 if SAMSUNG_NOBLELTE
		default 4 if SAMSUNG_JACKPOTLTE
		default 4 if SAMSUNG_ZEROFLTE
		default 4 if SAMSUNG_DREAMLTE
		default 4 if SAMSUNG_STARLTE
		default 4 if SAMSUNG_X1S
		default 4 if SAMSUNG_J5LTE

endmenu
