menu "Architecture"
	config POSITION_INDEPENDENT
		bool "Code relocation during early boot"
		help
		  Say Y if your previous bootloader loads uniLoader at an unknown
		  or different address every time.

	config LINUX_KRNL_HEADER_IMG
		bool "Append Linux header"
		help
		  Say Y if your want to appened a linux kernel image header to
		  uniLoader.
endmenu
