CONFIG_EXYNOS_3830=y
CONFIG_SAMSUNG_A127F=y
CONFIG_PAYLOAD_ENTRY=0x90008000
CONFIG_RAMDISK_ENTRY=0x82000000
CONFIG_FRAMEBUFFER_BASE=0xfa000000
CONFIG_FRAMEBUFFER_WIDTH=720
CONFIG_FRAMEBUFFER_HEIGHT=1600
CONFIG_FRAMEBUFFER_STRIDE=4
