CONFIG_SAMSUNG_A145F=y
CONFIG_EXYNOS_3830=y
CONFIG_POSITION_INDEPENDENT=y
CONFIG_LINUX_KRNL_HEADER_IMG=y
CONFIG_SIMPLE_FB=y
CONFIG_TEXT_BASE=0xa0000000
CONFIG_PAYLOAD_ENTRY=0x80200000
CONFIG_RAMDISK_ENTRY=0x84000000
