CONFIG_EXYNOS_1280=y
CONFIG_SAMSUNG_A336B=y
CONFIG_PAYLOAD_ENTRY=0x90000000
CONFIG_RAMDISK_ENTRY=0x84000000
CONFIG_FRAMEBUFFER_BASE=0xfa200000
CONFIG_FRAMEBUFFER_WIDTH=1080
CONFIG_FRAMEBUFFER_HEIGHT=2400
CONFIG_FRAMEBUFFER_STRIDE=4
