CONFIG_POSITION_INDEPENDENT=y
CONFIG_LINUX_KRNL_HEADER_IMG=y
CONFIG_RAMDISK_NO_COPY=y
CONFIG_EXYNOS_9610=y
CONFIG_SAMSUNG_A50=y
CONFIG_TEXT_BASE=0x88000000
CONFIG_PAYLOAD_ENTRY=0x90000000
CONFIG_RAMDISK_ENTRY=0x84000000
