CONFIG_CROSS_COMPILE="aarch64-linux-gnu-"
CONFIG_EXYNOS_9610=y
CONFIG_SAMSUNG_GTA4XL=y
CONFIG_POSITION_INDEPENDENT=y
CONFIG_TEXT_BASE=0x88000000
CONFIG_PAYLOAD_ENTRY=0x90000000
CONFIG_RAMDISK_ENTRY=0x84000000
