CONFIG_POSITION_INDEPENDENT=y
CONFIG_CROSS_COMPILE="aarch64-linux-gnu-"
CONFIG_EXYNOS_7570=y
CONFIG_SAMSUNG_J4LTE=y
CONFIG_TEXT_BASE=0x47000000
CONFIG_PAYLOAD_ENTRY=0x50000000
CONFIG_RAMDISK_ENTRY=0x42000000
