CONFIG_MT6735=y
CONFIG_HUAWEI_LUA_L21=y
CONFIG_SIMPLE_FB=y
CONFIG_LINUX_KRNL_HEADER_IMG=y
CONFIG_POSITION_INDEPENDENT=y
CONFIG_TEXT_BASE=0x4a000000
CONFIG_PAYLOAD_ENTRY=0x40200000
CONFIG_RAMDISK_ENTRY=0x44000000
