CONFIG_UMS9230=y
CONFIG_SIMPLE_FB=y
CONFIG_ITEL_P682LPN=y
CONFIG_TEXT_BASE=0x84500000
CONFIG_POSITION_INDEPENDENT=y
CONFIG_LINUX_KRNL_HEADER_IMG=y
CONFIG_PAYLOAD_ENTRY=0x90000000
CONFIG_RAMDISK_ENTRY=0xa0000000