CONFIG_POSITION_INDEPENDENT=y
CONFIG_SM8350=y
CONFIG_SAMSUNG_R9Q=y
CONFIG_SIMPLE_FB=y
CONFIG_TEXT_BASE=0x9ae00000
CONFIG_PAYLOAD_ENTRY=0xa0150000
CONFIG_RAMDISK_ENTRY=0xbae00000
CONFIG_LINUX_KRNL_HEADER_IMG=y