CONFIG_POSITION_INDEPENDENT=y
# CONFIG_COMPRESS_GZIP is not set
CONFIG_COMPRESS_LZ4=y
# CONFIG_SIMPLE_FB is not set
CONFIG_UART_DEBUG=y
CONFIG_MT6878=y
CONFIG_NOTHING_TETRIS=y
CONFIG_NOTHING_TETRIS_DISABLE_WDT=y
CONFIG_TEXT_BASE=0x40000000
CONFIG_PAYLOAD_ENTRY=0x60000000
CONFIG_RAMDISK_ENTRY=0x51100000
